<a href="https://colab.research.google.com/github/NishatTasnim01/Numerical-Methods/blob/main/List_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Slicing

## 1D List Slicing

In [ ]:
import numpy as np

# generate a random array of 10 integers between 0 and 100
a = np.random.randint(0, 100, 10)
a

array([27, 60, 30, 67,  0, 68, 78, 28, 62, 25])

### Use of : (colon) operator
In python, we can access a range of items in a list by using the slicing operator (colon).
The syntax of the slicing operator is as follows:

$$ list[start:stop:step] $$

start: It is the starting index of the sequence. The default value is 0.
stop: It is the index of the end of the sequence. The default value is equal to the length of the list.
step: It is the incrementation of the index. The default value is 1.

Let's see some examples of list slicing.

In [ ]:
# get the first 5 elements
a[:5]

array([27, 60, 30, 67,  0])

In [ ]:
# get the last 5 elements
a[5:]

array([68, 78, 28, 62, 25])

In [ ]:
# get the 3rd to 5th elements
a[2:5]

array([30, 67,  0])

### Use of :: (double colon) operator

In python, the $::$ operator is used to choose the step size. The step size is the number of elements to skip in the list.
If we don't specify the step size, it will be 1 by default.

Let's see some examples of list slicing.

In [ ]:
# get the 1st, 3rd, and 5th elements
# :: is the step size
# 0::2 means start from 0, and take every 2nd element
a[::2]

array([27, 30,  0, 78, 62])

In [ ]:
# get the 2nd, 4th, and 6th elements
# 1::2 means start from 1, and take every 2nd element
a[1::2]

array([60, 67, 68, 28, 25])

### Use of -ve index

In python, we can also use the negative index to access the list elements. The negative index starts from -1 for the last element of the list and goes to -n for the first element of the list.

Let's see some examples of list slicing.

In [ ]:
# get the last element
a[-1]

25

In [ ]:
# get the last 3 elements
a[-3:]

array([28, 62, 25])

In [ ]:
# get the last 3 elements in reverse order
a[-3::-1]

array([28, 78, 68,  0, 67, 30, 60, 27])

## 2D List Slicing

In [ ]:
# generate a 2D array of 10 rows and 5 columns
b = np.random.randint(0, 100, (10, 5))
b

array([[49, 94, 78, 45, 71],
       [52, 30, 36, 33, 59],
       [88,  5,  8, 18, 51],
       [86, 69, 73, 84, 29],
       [32, 18, 59, 63, 75],
       [12, 32, 95,  0, 26],
       [89, 49, 59, 71, 40],
       [51, 70, 73, 50, 75],
       [45, 34,  0, 57, 27],
       [77, 38, 40, 30, 81]])

In [ ]:
# get the first row
b[0]

array([49, 94, 78, 45, 71])

In [ ]:
# get the last row
b[-1]

array([77, 38, 40, 30, 81])

In [ ]:
# get the first column
b[:, 0]

array([49, 52, 88, 86, 32, 12, 89, 51, 45, 77])

In [ ]:
# get the last column
b[:, -1]

array([71, 59, 51, 29, 75, 26, 40, 75, 27, 81])

In [ ]:
# get the first 3 rows
b[:3]

array([[49, 94, 78, 45, 71],
       [52, 30, 36, 33, 59],
       [88,  5,  8, 18, 51]])

In [ ]:
# get the last 3 rows
b[-3:]

array([[51, 70, 73, 50, 75],
       [45, 34,  0, 57, 27],
       [77, 38, 40, 30, 81]])

In [ ]:
# get the first 3 columns
b[:, :3]

array([[49, 94, 78],
       [52, 30, 36],
       [88,  5,  8],
       [86, 69, 73],
       [32, 18, 59],
       [12, 32, 95],
       [89, 49, 59],
       [51, 70, 73],
       [45, 34,  0],
       [77, 38, 40]])

In [ ]:
# get the last 3 columns
b[:, -3:]

array([[78, 45, 71],
       [36, 33, 59],
       [ 8, 18, 51],
       [73, 84, 29],
       [59, 63, 75],
       [95,  0, 26],
       [59, 71, 40],
       [73, 50, 75],
       [ 0, 57, 27],
       [40, 30, 81]])

In [ ]:
# get the first 3 rows and first 3 columns
b[:3, :3]

array([[49, 94, 78],
       [52, 30, 36],
       [88,  5,  8]])

In [ ]:
# get the last 3 rows and last 3 columns
b[-3:, -3:]

array([[73, 50, 75],
       [ 0, 57, 27],
       [40, 30, 81]])

In [ ]:
# get the first 3 rows and last 3 columns
b[:3, -3:]

array([[78, 45, 71],
       [36, 33, 59],
       [ 8, 18, 51]])

In [ ]:
# get the last 3 rows and first 3 columns
b[-3:, :3]

array([[51, 70, 73],
       [45, 34,  0],
       [77, 38, 40]])

In [ ]:
# get the 2nd and 4th rows
# 1::2 means start from 1, and take every 2nd element
b[1::2]

array([[52, 30, 36, 33, 59],
       [86, 69, 73, 84, 29],
       [12, 32, 95,  0, 26],
       [51, 70, 73, 50, 75],
       [77, 38, 40, 30, 81]])

In [ ]:
# get the 2nd and 4th columns
# 1::2 means start from 1, and take every 2nd element
b[:, 1::2]

array([[94, 45],
       [30, 33],
       [ 5, 18],
       [69, 84],
       [18, 63],
       [32,  0],
       [49, 71],
       [70, 50],
       [34, 57],
       [38, 30]])

In [ ]:
# get the 2nd and 4th rows and 2nd and 4th columns
# 1::2 means start from 1, and take every 2nd element
b[1:4:2, 1::2]

array([[30, 33],
       [69, 84]])

In [ ]:
# 0::2 means start from 0, and take every 2nd element
b[::2]

array([[49, 94, 78, 45, 71],
       [88,  5,  8, 18, 51],
       [32, 18, 59, 63, 75],
       [89, 49, 59, 71, 40],
       [45, 34,  0, 57, 27]])

In [ ]:
# get the 1st, 3rd, and 5th rows
b[:]